//CMAKE
/CMakeFiles/
/bin*/
*.cmake
CMakeCache.*
Makefile
makefile
//compiler
movingSquare
*.exe
*.EXE
*.cpe
*.sym
*.map
//eclipse
.cproject
.project
.settings
//visual studio
/movsqr.dir/
/Release/
/Debug/
/x64/
/.vs/
*.vcxproj*
*.sdf
*.sln
//misc
.directory
